    /* Center the table */ 
    body { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        min-height: 100vh; 
        background: linear-gradient(to bottom right, #9cdedb, #345054); 
        position: relative; 
    } 

    /* Add floating effect */ 
    .table-container { 
        background: white; 
        border-radius: .8rem; 
        box-shadow: 0 10px 15px rgba(147, 8, 8, 0.1); 
        overflow: hidden; 
        width: 80%; 
        max-width: 600px; 
        margin: 0 auto; 
    } 

    /* Style the table */ 
    .table { 
        background-color: #538990; 
        border-collapse: collapse; 
        width: 100%; 
    } 

    .table th, 
    .table td { 
        border: 1px solid #000000; 
        padding: 12px; 
        text-align: center; 
    } 

    .table th { 
        background-color: #5c7287; 
        color: white; 
    } 

    /* Style the caption */ 
    .caption { 
        font-size: 1.5rem; 
        font-weight: bold; 
        padding: 1rem; 
        text-align: center; 
        background-color: #f7fafc; 
        color: #333; 
        border-bottom: 1px solid #e2e8f0; 
        animation: bounce 2s infinite; 
    } 

    @keyframes pulse { 
        0% { 
            transform: scale(1); 
            opacity: 1; 
        } 
        50% { 
            transform: scale(1.05); 
            opacity: 0.7; 
        } 
        100% { 
            transform: scale(1); 
            opacity: 1; 
        } 
    } 

    /* Style the button */ 
    .home-button { 
        position: absolute; 
        top: 20px; 
        left: 20px; 
        background-color: #5c7287; 
        color: white; 
        padding: 10px 20px; 
        border-radius: 5px; 
        text-decoration: none; 
    } 

    .home-button:hover { 
        background-color: #435262; 
    } 